// Vertical Menu
.dl-menuwrapper {
  @include transition(opacity .40s ease-in-out);
  @extend %complete-dimension;
  z-index: 2;
  box-shadow: 10px 0 5px rgba(0,0,0,.19);
  ul {
    @extend %no-padding;
    background: $gray;
    list-style: none;
  }
  li {
    @extend %center-items;
    margin: 2em 0;
    a {
      @include styling_wrapper_content($primary-gray, null, 28px, null, 20px, 300);
      display: block;
      position: relative;
      padding: 15px 20px;
      text-decoration: none;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .dl-menu {
    @include box(100%, 100%, absolute);
    @include transition(opacity .40s ease-in-out, left .40s cubic-bezier(0.23, 1, 0.32, 1));
  }
}

// Products style
.photo-products {
  width:100%;
  height: 200px;
}





// Tab Menu
.cd-tabs {
  @include box(100%, 100%, $position: relative);
  margin: 2em auto;
  border-bottom: 4px solid tomato;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  nav {
    width: 100%;
    background-color: $primary-color;
    box-shadow: inset 0 -2px 3px $primary-color;
  }
}
.cd-tabs-navigation {
  @include box(100%, 100px);
  @extend %margin-center;
  background-color: $primary-color;
  ul {
    @include box(100%, 100%);
    @extend %no-padding;
    li {
      @include box(100%, $display: inline-block);
    }
  }
  a {
    @include box(100%, auto, relative, $display: block);
    @extend %center-items;
    color: $primary-color-dark;
    &:hover {
      color: $white;
    }
  }
}
.no-touch .cd-tabs-navigation a:hover {
  background-color: $primary-color;
}

// Tab navigation
.cd-tabs-navigation a {
  padding-top: 15px;
  &.selected {
    color: $white;
  }
  &::before {
    /* icons */
    @include position(absolute, $values: top 12px left 50%);
    @include box(20px, 20px, $display: inline-block);
    margin-left: -10px;
    background-repeat: no-repeat;
  }
}

/* Tab container*/
.cd-tabs-content {
  background: #f3f3f4;
  height: 60%;
  overflow: scroll;
  overflow-x: hidden;
  li {
    display: none;
    padding: 1.4em;
    &.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s;
    }
    p {
      @include styling_wrapper_content($black, null, 20px, $font-family--primary, 1.6);
      margin-bottom: 2em;
    }
    .product-card {
      p {
        font-size: 1em;
      }
    }
  }
}

/* Top image */
.top-img {
  background: url("../images/home/home.jpg") no-repeat center top fixed;
  background-size: cover;
  height: 30%;
  display: flex;
  align-items: center;
  margin-bottom: -30px;
}

// Material Card
.card {
  @include border-radius(2px);
  position: relative;
  width: 100%;
  background: $white;
  margin: -2em 0 2em;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.photo-container {
  width: 100%;
  height: 300px;
}
.descriptions {
  padding: 2em;
  margin-top: 2%;
  padding-bottom: 15px;
  h2 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.5em;
  }
}
.mini-gallery {
  height: 300px;
}

.adoptions {
  background-color: $white;
  width: 50%;
  padding: 3em;
}

.photo-adoptions {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}



.catalogue-wrapper {
height: 350px;

}

.video-wrapper {
height: 250px;

}
