{% extends 'main.twig' %}

{% block title %}
  Log In
{% endblock title %}


{% block content %}

<div class="container" style="text-align=center;">
<img src="images/home/logo_home.png" class="img-logo-form"/>
  <form action="" method="post">
        <fieldset>
          <input class="form_input" name="email" type="email" placeholder="Email">
          <input class="form_input" name="password" type="password" placeholder="Password">
        </fieldset>
        <input type="submit" class="btn-access access" value="Login">

        <a href="{{loginUrl}}" class="btn-access facebook">Login con Facebook </a>
      </form>
</div>

{% endblock content %}
